<div class = "center jumbotron">
	<h1>My Twitter Home Page</h1>
	<h2>This is the home page for the sample twitter clone app</h2>
		<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>


</div>


