<% if @user.errors.any? %>
	<div class="alert alert-danger" role="alert">
	The form contains <%= pluralize(@user.errors.count, "error") %> 
	
		<% @user.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			
		<% end %>
	
	</div>
<% end %>