<footer class = "footer">
	<small>
		The real twitter can be found here: <a href="http://twitter.com">Twitter</a>

	</small>

	 <nav>
    	<ul>
      		<li><%= link_to "About",   about_path %></li>
      		<li><%= link_to "Contact", contact_path %></li>
      		<li><a href="http://bbc.com/">News</a></li>
    	</ul>
  	</nav>

</footer>